@using Quizzit.ViewModel;
@using Quizzit.Models;

@{
    ViewBag.Title = "Quizzit";
    var question = ViewBag.Question as Question;
}

<link href="~/Content/custom-control-styles.css" rel="stylesheet" />
<link href="~/Content/animate.min.css" rel="stylesheet" />
<link href="~/Content/quizzit/index.css" rel="stylesheet" />

<div class="_placeholder">
    @Html.Partial("_QuestionControls", question)
</div>

@Scripts.Render("~/Scripts/quizzit/index.js")
