
@for (var i = 0; i < 10; i++)
{
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Question</strong> | Your question was this ?</div>
        <div class="panel-body"><strong>Answer</strong> | You spitted this as answer</div>
    </div>
}
