@model IEnumerable<Quizzit.ViewModel.SummaryVM>

@for (var i = 0; i < Model.Count(); i++)
{
    <div class="panel panel-default">
        <div class="panel-heading"><span class="qaLabel">Question # @(i + 1)</span> @Model.ElementAt(i).Question</div>
        <div class="panel-body">
            <span class="qaLabel">Answer</span>
            @if (Model.ElementAt(i).Answer == null)
            {
                @Html.Raw("N/A")
            }
            else
            {
                @Html.Raw(Model.ElementAt(i).Answer)
            }
        </div>
    </div>
}

<style>
    .qaLabel {
        display: inline-block;
        width: 130px;
        padding: 5px;
        border-radius: 1%;
        margin-right: 5px;
        font-size: 15px;
        font-weight: bold;
    }

    .panel > .panel-heading {
        background-image: none;
        background-color: white !important;
        /*background-color: rgba(255, 216, 0.8) !important;*/
        color: black;
    }
</style>


<script>
    var btn = "<button class=\"btn btn-primary btnSave\">Submit</button>";
    $(".logoRowLastCol").html(btn);
    $(".btnSave").click(function () {
        $.ajax({
            url: "/Home/Save",
            method: "POST",
            data: {},
            success: function (response) {
                if (response.result === true) {
                    window.location.href = "/Home/Thanks";
                    return;
                }
                //
                alert(response.error);
                if (response.errorType === "SESSION_EXPIRY") {
                    window.location.href = "/";
                }
            },
            error: function (data) {
                alert("Request could not be completed .. Try again ");
            }
        })
        window.location.href = "/Home/Thanks";
    });
</script>

<script src="~/Scripts/quizzit/_disablebrowserback.js"></script>