@model IEnumerable<Quizzit.ViewModel.SummaryVM>

@for (var i = 0; i < Model.Count(); i++)
{
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Question</strong> | @Model.ElementAt(i).Question</div>
        <div class="panel-body"><strong>Answer</strong> | @Model.ElementAt(i).Answer</div>
    </div>
}
