
@{
    ViewBag.Title = "Thanks";
}

<h2>Your response has been recorded</h2>
<div class="row">
    <div class="col-md-12 text-center">
        <a class="btn btn-lg btn-primary" href="/">Start Over Again !</a>
    </div>
</div>

